<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>
<%= grid(@service_grid, show_filters: :always) do |g|

  g.column  name: 'Service' do |task|
    task.name
  end

end -%>

<br>

<%= link_to 'New Service', new_service_path %>
