<p id="notice"><%= notice %></p>

<h1>Listing Physicians</h1>

<%= grid(@physician_grid, show_filters: :always) do |g|

  g.column  name: 'First Name' do |task|
    task.first_name
  end

  g.column  name: 'Last Name'do |task|
    task.last_name
  end

  g.column  name: 'Degree'do |task|
    task.degree
  end

  g.column  name: 'Gender'do |task|
    task.gender
  end


end -%>

<br>

<%= link_to 'New Physician', new_physician_path %>
