<p id="notice"><%= notice %></p>

<h1>Listing Specialties</h1>

<%= grid(@specialty_grid, show_filters: :always) do |g|

  g.column  name: 'First Name' do |task|
    task.name
  end
end -%>

<br>

<%= link_to 'New Specialty', new_specialty_path %>
