<p id="notice"><%= notice %></p>

<h1>Listing Med Offices</h1>

<%= grid(@physician_grid, show_filters: :always) do |g|

  g.column  name: 'Region' do |task|
    task.region
  end

  g.column  name: 'Medical Office Name'do |task|
    task.name
  end

  g.column  name: 'Address'do |task|
    task.address
  end

  g.column  name: 'Hours'do |task|
    task.hours
  end

  g.column name: 'Landmarks'do |task|
    task.landmark
  end

  g.column name: 'Parking' do |task|
    task.parking? ? 'Yes' : 'No'
  end

end -%>
</div>

<br>

<%= link_to 'New Med office', new_med_office_path %>
